		<link href="/css/theme.css" rel="stylesheet">
<%- include('partials/navbar') %>
<div class="container mt-4">
	<div class="alert alert-warning text-center" role="alert">
		<h2>No Data Found</h2>
		<p>No profiles or matches found.</p>
	</div>
</div>
<%- include('partials/footer') %>
